body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: aquamarine;
    font-family: cursive;
}
.form{
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin:10px;
}
.input{
    display:block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px aquamarine;
    color: green;
}
h4{
    text-align: end;
}
p{
    font-size: 25px;
}
.input::placeholder{
    color:lightgray;
    font-family: cursive;
}
.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn::hover{
    filter:brightness(0.9);
}
.score{
    color: green;
    text-align: right;
}

.popup{
    width: 400px;
    background:#fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align:center;
    padding: 0 30px 30px;
    color: #333;

    transition: 0.4s, top 0.4s;
}


.popup button{
    font-family: cursive;
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background:#6fd649;
    color:#fff;
    border: 0;
    outline:none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
}

.open-popup{
    visibility: visible;
    top: 50%;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%) scale(1);

}

.close-popup{
    visibility: hidden;
}
.popup h2{
    font-size: 38px;
    font-weight: 500 ;
    margin: 30px 0 10px;

}

a:link {
    text-decoration: none ;
    color: white;
  }
